@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    width:1920px;
    background-color: #FFFFFF;
    margin:0 auto;
}

.container {
    width:1770px;
    margin: 0 auto;
}

/*header*/

.header {
    width: 1920px;
    height: 100px;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header-container{
    display: flex;
}

.header__logo {
    width:224px;
    height: 72px;
    margin:14px 729px 14px 0px;
}

.header__nav {
    display: flex;
    margin-top: 42px;
}

.header__nav-link {
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    padding-bottom: 10px;
    color: #333333;
    
}

.header__nav-link:hover {
    border-bottom: 2px solid #FF9900;
}

.header__nav-link:active {
    border-bottom: 2px solid #FF9900;
    color: #FF9900;
}

.header__nav-item {
    height: 16px;  
}

.header__nav-item:not(:last-child) {
    margin-right: 85px;
}

.header__search-link {
    width: 25px;
    height: 25px;
    background-image: url(../img/header/header_search.svg);
    background-repeat: no-repeat;
    margin:40px 0px 35px 71px;
}

.header__search-link:hover  {
    background-image: url(../img/header/header_search_hover.svg);
}

.header__search-link:active {
    background-image: url(../img/header/header_search_active.svg);
}


/*banner*/

.bannner-container {
    height: 620px;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    padding-left: 78px;
    padding-top: 103px;
}

.banner__title {
    width: 850px;
    font-weight: 800;
    font-style: normal;
    font-size: 70px;
    line-height: 85px;
    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 32px;
}

.banner__subtitle {
    width: 850px;
    font-weight: 700;
    font-style: normal;
    font-size: 23px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 97px;
}

.banner__btn {
    width: 280px;
    height: 80px;
    padding: 25px 37px;
    background-color: #FF9900;
}

.banner__btn:hover {
    background-color: rgba(255, 153, 0, 0.6);
    cursor: pointer;
}

.banner__btn:active {
    background-color:#E1670E;
    cursor: pointer;
}

.banner__btn-link {
    font-weight: 700;
    font-style: normal;
    font-size: 23px;
    line-height: 28px;
    color: #FFFFFF;
}
